* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  padding: 15px 0;
}

.menu {
  list-style: none;
  padding: 0;
  /* margin: 0; */
}

.menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #939699;
}

.button {
  padding: 10px 20px;
  background: #4592ff;
  border-radius: 20px;
  color: #fff;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  max-width: 150px;
  vertical-align: middle;
}

.button.small{
  max-width: 120px;
}

.button-icon {
  margin-right: 10px;
}

.button-icon:last-child {
  margin-right: 0;
  margin-left: 10px;
}

/* Блок слайдера */

.slider {
  position: relative;
}

.slide {
  padding-top: 90px;
  padding-bottom: 110px;
  min-height: 568px;
}

.slide-1 {
  background: #b4d1e0 url(../Image/slide-1.png) no-repeat top right 30%;
}

.slide-2 {
  background: #9fe6c4 url(../Image/slide-1.png) no-repeat top right 30%;
}

.slide-3 {
  background: #e9b0da url(../Image/slide-1.png) no-repeat top right 30%;
}

.lebel {
  background: #3dc47e;
  border-radius: 3px;
  color: #fff;
  padding: 5px 12px;
  font-size: 12px;
}

.slide-title {
  color: #262d33;
  font-size: 55px;
  line-height: 70px;
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
  margin-bottom: 15px;
}

.slide-description {
  font-size: 18px;
  line-height: 30px;
  color: #4b5157;
  max-width: 335px;
  margin-bottom: 40px;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 9;
}

.slide-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
}

.slide-button:hover {
  opacity: 0.8;
}

/* Блок с карточками */

.card {
  min-height: 370px;
}

.goods-card{
  text-decoration: none;
  display: block;
}

.card-1 {
  background: #e3e3e3 url(../Image/1-card.png) no-repeat top right;
  background-size: cover;
  border-radius: 10px;
  padding: 60px 46px 80px 46px;
}

.card-2 {
  background: #1d221f url(../Image/2-card.png) no-repeat top right;
  background-size: cover;
  border-radius: 10px;
  padding: 60px 46px 80px 46px;
}

.card-3 {
  background: #ccd5e6 url(../Image/3-card.png) no-repeat top right 15%;
  background-size: contain;
  border-radius: 10px;
  padding: 35px 46px 60px 46px;
}

.card-4 {
  background: #ff4f52 url(../Image/4-card.png) no-repeat top right;
  background-size: contain;
  border-radius: 10px;
  padding-top: 35px;
  padding-left: 25px;
}

.card-title {
  color: #262d33;
  font-size: 25px;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
  max-width: 222px;
}

.card-title__white {
  color: #fff;
}

.card-title.large {
  font-size: 40px;
  line-height: 50px;
  max-width: 420px;
  color: #262d33;
}

.card-text {
  color: #4b5157;
  font-size: 14px;
  line-height: 20px;
  max-width: 175px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.card-text.large {
  max-width: 320px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-text__white {
  color: #fff;
  opacity: 0.85;
}

.lebel-card {
  display: inline-block;
  margin-bottom: 30px;
}

.card-price-text {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

/* Блок с товарами */

.section-title {
  font-size: 25px;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
  color: #262d33;
}

.more {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262d33;
  padding: 10px;
}

.goods-card {
  position: relative;
  text-align: center;
  padding: 30px 35px 35px 35px;
}

.goods-card .lebel {
  position: absolute;
  top: 18px;
  left: 18px;
}

.goods-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 25px;
  color: #262d33;
}

.goods-description {
  color: #4b5157;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.goods-price {
  font-size: 18px;
  line-height: 30px;
  color: #262d33;
  font-weight: 700;
}

/* Футер страницы */

.footer {
  background: #8f79d4;
  padding-top: 45px;
  padding-bottom: 40px;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-item:not(:last-child) {
  margin-right: 40px;
}

.footer-menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.footer-text {
  color: #e7d9ff;
  font-size: 14px;
  line-height: 20px;
}

.social-link {
  margin-left: 15px;
  text-decoration: none;
}

.footer-line {
  color: #fff;
  opacity: 0.5;
  size: 1px;
}

.footer-btn {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-right: 15px;
}

.payment-logo {
  vertical-align: middle;
  margin-right: 25px;
}

/* Медиа запросы */

@media (max-width: 1200px) {
  .slide {
    background-size: cover;
    max-height: 590px;
  }
}

@media (max-width: 992px) {
  .slider-nav {
    display: none;
  }

  .card-3 {
    background-size: cover;
  }
}

@media (max-width: 576px) {
  .slide-title {
    font-size: 36px;
    line-height: 1.4;
  }

  .card {
    background-position: left top;
    min-height: 300px;
  }

  .card-4 {
    background-position: right top;
  }

  .card-title.large {
    font-size: 30px;
  }

  .footer-menu-item{
    text-align: center;
  }

  .footer-menu-item:not(:last-child) {
    margin-right: 0px;
    text-align: center;
  }

  .footer-menu-link{
    font-size: 16px;
  }
}
